<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.dnd.aac"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="11" />
	    <!-- Required to access Android Market Licensing -->
    <uses-permission android:name="com.android.vending.CHECK_LICENSE" />
    <!-- Required to download files from Android Market -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- Required to keep CPU alive while downloading files (NOT to keep screen awake) -->
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <!-- Required to poll the state of the network connection and respond to changes -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- Required to check whether Wi-Fi is enabled -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <!-- Required to read and write the expansion files on shared storage -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:icon="@drawable/poring"
        android:label="@string/app_name">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity"
            android:screenOrientation="landscape" ></activity>
        <activity android:name=".DetailActivty" ></activity>
        <activity android:name=".DownloaderActivity" ></activity>
        <activity android:name=".MyPreferenceActivity"></activity>
        <activity android:name=".MyPreferenceHCActivity"></activity>       
        <provider
        	android:name=".data.aacProvider"
            android:authorities="com.dnd.aac.data.aacProvider"
            android:multiprocess="true" />
        
                <!--
         In order to start the service, it must be uniquely registered with
         the package manager here. 
        -->
        <service android:name="com.dnd.aac.MyDownloaderService" />

        <!--
         In order for the alarm manager to contact the downloader script, the receiver
         must be uniquely registered with the package manager here. 
        -->
        <receiver android:name="com.dnd.aac.AlarmReceiver" />
    </application>

</manifest>